body {
    background-image: linear-gradient(to right, #c17b99, #cfb3d5, #7f90cf, #94bbe9);;

}

.c-user {
    font-size: 100px;
}

a {
    background-image: linear-gradient(to right, #7bff4b, #50ff96, #50eb7e, #6aff83);
}
